.buttons {
    margin: 15px;
    display: flex;
    justify-content: center;
}

form {
    margin: 20px;

}
.table-responsive {
    overflow-x: unset;
}

td {
    max-width: 220px;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden;
    text-overflow: ellipsis;

}
