{% extends 'base.html.twig' %}

{% block title %}Update field in the database{% endblock %}

{% block body %}
    <h1>Edit Video Data</h1>

    {{ include('parse/_form.html.twig', {
        button_text: 'Update!'
    }) }}

{% endblock %}