{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add new field to Video Data</h1>

    {{ form_start(videoDataForm) }}
        {{ form_widget(videoDataForm) }}

        <button type="submit" class="btn btn-primary" formnovalidate>ADD</button>
    {{ form_end(videoDataForm) }}

{% endblock %}