{% extends 'base.html.twig' %}

{% block title %}Add a new field to the database{% endblock %}

{% block body %}
    <h1>Add new field to Video Data</h1>

    {{ include('parse/_form.html.twig', {
        button_text: 'Add!'
    }) }}

{% endblock %}